.home {
    padding: 10px;
}

.home > button {
    border: none;
    color: white;
    background-color: rgb(104, 59, 23);
    min-height: 25px;
    border-radius: 5px;
}

.create-task {
    display: grid;
    flex-direction: column;
    margin-top: 10px;
}

.create-task > form {
    display: flex;
    color: rgb(243, 248, 248);
    background-color: rgb(118, 121, 120);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.create-task > form > button {
    border: none;
    color: white;
    background-color: rgb(41, 70, 38);
    min-height: 25px;
    border-radius: 5px;
}

.task-container {
    display: grid;
    flex-direction: column;
    align-items: center;
}
.task {
    color: rgb(253, 242, 242);
    background-color: rgb(175, 118, 48);
    display: grid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(32, 31, 31, 0.329);
    align-items: center;
}
.task > h3 {
    font-size: large;
}